<div class="main-wrapper">
    <div class="menu">
        <p [ngClass]="{'video': currentPage === pages.VIDEO_GAME}" (click)="changeCurrentPage(pages.VIDEO_GAME)">Video Games</p>
        <p [ngClass]="{'contact': currentPage === pages.CONTACT}" (click)="changeCurrentPage(pages.CONTACT)">Contact</p>
    </div>

    <ng-container [ngSwitch]="currentPage">
        <div *ngSwitchCase="pages.VIDEO_GAME" class="video-games">
            <app-video-game>
            </app-video-game>
        </div>

        <div *ngSwitchCase="pages.CONTACT">
            <app-contacts>
            </app-contacts>
        </div>
    </ng-container>

</div>